@import "tailwindcss";

:root {
  --color-primary: #13294B;
  --color-secondary: #4B9CD3;
  --color-white: #FFFFFF;
  --color-black: #151515;
  --color-gray: #F8F8F8;

  background-color: var(--color-primary);
}

html {
  scroll-behavior: smooth;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fade-in-up 1.5s ease-in-out;
}